{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>WoWoo-{{post.post_title}}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom Fonts -->
    <!-- FontAwesome Css -->
    <script src="{% static 'js/e07011ff1d.js' %}"></script>

    <link href="{% static 'css/Montserrat.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/Kaushan.css' %}" rel='stylesheet' type='text/css'>
    <link href="{% static 'css/agency.css' %}" rel="stylesheet">
    <link href="{% static 'css/Xuan.css' %}" rel="stylesheet">

</head>

<body id="page-top" class="index">

    <div class="col-lg-2 leftinfo"></div>
    <div class="col-lg-8 mid">
        <div id="post">
            <div class="container">
            <!-- Post Header  -->
                <div class="col-lg-8 col-md-8 col-sm-8 " style="margin-left:5%;">
                    <h1 class="page-header" >{{post.post_title}}
                    
                       <span style="font: bold 12px/12px Helvetica, Verdana, Tahoma;font-size:18px;color:#7d7d7d;opacity: 0.8">{{post.post_date}}</span>                   
                     
                    </h1>

                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 " ></div>
            </div>

            <!-- Post Body -->
            <div class="col-lg-12 col-md-12 col-sm-12 " >
                <div class="col-lg-1 col-md-1 col-sm-1 " ></div>
                <!-- post contention  -->
                <div class="col-lg-10 col-md-10 col-sm-10 " id="chat">
                    <div  class="chat">
                    {% for item in str_part %}
                        {% if forloop.counter|divisibleby:2 %}
                        <!-- left chat -->
                        <div class="col-lg-12 col-md-12 ol-sm-12 "  >
                            <i class="fa fa-male chatman them" ></i> 
                            <p class="them">
                            {{item}}
                            </p>
                        </div>
                        <!-- rightchat -->
<!--                         <div class="col-lg-12 col-md-12 ol-sm-12 "  >
                            <i class="fa fa-female chatwoman me" ></i> 
                            <p class="me">
                           欸你不要這樣說阿，這樣對我在台北長大的聽起來很尷尬
                            </p>
                        </div>
 -->                    {% endif %}
                    {% endfor %}
                    </div>
                <div class="col-lg-1 col-md-1 col-sm-1 " ></div>
            </div>
            
            <!-- Button  -->
            <div class="container">
                <div class="col-lg-8 col-md-8 col-sm-8 " style="margin-left:12%">
                    
                    <button type="button" class="btn-xuan" role="tab" ><i class="fa fa-thumbs-up " aria-hidden="true">&nbsp;{{post.likes}}</i></button>
                    <button type="button" class="btn-xuan" role="tab" ><i class="fa fa-comment "  aria-hidden="true">&nbsp;1234</i></button>
                    <button type="button" class="btn-xuan" role="tab" ><i class=" fa fa-facebook-square" aria-hidden="true">&nbsp;分享</i></button>
                    <button type="button" class="btn-xuan" role="tab" ><i class="fa fa-search" aria-hidden="true">&nbsp;查看結果</i></button>             
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 " ></div>
            </div>
            <br>
            <!-- Comment Header -->
            <div class="container">
                <div class="col-lg-8 col-md-8 col-sm-8 " style="margin-left:5%;">
                    <h2 class="page-header">回應
                        <small style="color:#8E8E8E;font-size:16px;font-weight:600;letter-spacing: 3px">共有3則回應</small>
                    </h2>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 " ></div>
            </div>  
            
            <!--each comment-->
            <div id="__comments__">
                {% for cmt in comments %}
                <div class="col-lg-12 col-md-12 col-sm-12" id="{{ cmt.pk }}">
                    <div class="col-lg-1 col-md-1 col-sm-1 " ></div>
                    <div class="col-lg-2 col-md-2 col-sm-2 " >
                        <div class="team-member ">
                        
                            <img src="{% static 'img/emotion/emotions3.jpg'%}" class="img-responsive img-circle " style="width:100px;height:100px;margin-bottom: 0px;" alt="">
                           <img class="img-responsive img-circle emotion"  src="static/img/emotion/emotions1.jpg" alt="" >
                            <p style="color:#8E8E8E;font-size:14px;font-weight:600;">WenXuan Lee</p>
                    
                        </div>
                    </div>
                    
                    <div class="col-lg-8 col-md-8 col-sm-8 " style="padding-top: 2%;">
                        <p style="color:black;letter-spacing: 2px;padding-bottom: 24px;font: bold 16px/28px Helvetica, Verdana, Tahoma;opacity: 0.8" >{{cmt.comment_content}}</p>
                        <div style="float:left;" >
                            <i class="fa fa-calendar" style="color:#56A690;font-size:20px" aria-hidden="true"></i>
                           <span style="font: bold 12px/12px Helvetica, Verdana, Tahoma;font-size:15px;color:#7d7d7d">2016&nbsp;年&nbsp;7月1號&nbsp;&nbsp;11:11</span>
        
                        </div> 
                        <div style="float:right;">
                            <i class="fa fa-flag" style="color:#ff4c4c;font-size:20px" aria-hidden="true"></i>&nbsp;<span style="font: bold 15px/13px Helvetica, Verdana, Tahoma;font-size:16px;color:#ff4c4c">檢舉</span>
                        </div>
                        <div style="float:right;;margin-right:1%">
                            <i class="fa fa-thumbs-up " style="color:#56A690;font-size:20px;" aria-hidden="true"></i>&nbsp;<span style="font: bold 15px/13px Helvetica, Verdana, Tahoma;font-size:16px;color:#56A690">1234</span>
                        </div> 
                        <hr>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 " ></div>
                </div>  
                {% endfor %}
            </div>
            <!-- leave comment -->
            <div class="col-lg-12 col-md-12 col-sm-12  " >
                <div class="col-lg-1 col-md-1 col-sm-1 " ></div>
                <div class="col-lg-2 col-md-2 col-sm-2 " >
                    <div class="team-member ">
                    
                        <img src="{% static 'img/emotion/emotions3.jpg'%}" class="img-responsive img-circle " style="width:100px;height:100px;margin-bottom: 0px;" alt="">
                        <img class="img-responsive img-circle emotion"  src="{% static 'img/emotion/emotions3.jpg'%}" alt="" ><!-- {{cmt.comment_emotion}} -->
                        <p style="color:#8E8E8E;font-size:14px;font-weight:600;">WenXuan Lee</p>
                
                    </div>
                </div>
            
                <div>
                    {% csrf_token %}
                    <div class="col-lg-8 col-md-8 col-sm-8 " id = "commentemotion" >
                        <textarea rows="7" class="form-control" placeholder="Intro" tabindex="4" required data-validation-required-message="Please enter a message." id="comment-textarea" ></textarea>
                        <p class="help-block text-danger" style="color:red;"></p>
                        <label>
                            <input type="radio" name="emotion" value="happy" />
                            <img src="{% static 'img/emotion/emotions3.jpg'%}">
                        </label>
                      
                        <label>
                            <input type="radio" name="emotion" value="anger"/>
                            <img src="{% static 'img/emotion/emotions7.jpg'%}">
                        </label>
                      
                        <label>
                            <input id="fb3" type="radio" name="emotion" value="sad" />
                            <img src="{% static 'img/emotion/emotions9.jpg'%}">
                        </label>
                      
                        <label>
                            <input id="fb4" type="radio" name="emotion" value="cry" />
                            <img src="{% static 'img/emotion/emotions10.jpg'%}">
                        </label>
                        <label>
                            <input id="fb4" type="radio" name="emotion" value="joy" />
                            <img src="{% static 'img/emotion/emotions11.jpg'%}">
                        </label>
                        <div class="" style="float:right">
                            <button type="submit" class="btn btn-primary btn-lg" id="postPK" value="{{ post.pk }}">送出</button>
                        </div>
                    </div> 
                </div>
            </div>

                <div class="col-lg-1 col-md-1 col-sm-1 " ></div>
            </div>  
            <div class="clear"></div>
        </div>
    </div>
    <div class="col-lg-2 rightinfo"></div>
    
    <!-- jQuery -->
    <script src="{% static 'js/jquery/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'css/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript --><!-- button slide -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <!--script src="js/jqBootstrapValidation.js"></script-->
    <!--script src="js/contact_me.js"></script-->

    <!-- Theme JavaScript -->
    <script src="{% static 'js/agency.js' %}"></script>
    <script src="{% static 'js/Xuan.js' %}"></script>
    <script src="{% static 'js/Sewen.js' %}"></script>
    <!-- Fixed the sidebar -->
    <script src="{% static 'js/Ray.js' %}" type="text/JavaScript"></script>

</body>

</html>
