{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Agency - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <!--link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"-->
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <!--link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'-->
    <!--achievement-->
    <!--link rel="stylesheet" href="css/skillbar.css"-->
    <!-- Theme CSS -->
    <link href="{% static 'css/agency.css' %}" rel="stylesheet">
    <link href="{% static 'css/Xuan.css' %}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
    
<body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">WoWoo</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul>
                    <li>
                        <a id="login">Login</a>
                        <a class="ring"><div><img class="ring_img" src="{% static 'img/tones.png' %}"></div></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Tell You Something About Truth!</div>
                <div class="intro-heading">She just doesn't like you!</div>
                <a href="#content" class="page-scroll btn-xl">Go find the truth</a>
            </div>
        </div>
    </header>
    <div class = "col-md-1"></div>
    
    <!--side bar-->
    <div id="sidebar" class = "col-md-3">
        <div id="left">
            
            <div id="info_profile">
                
                <div class="frame">
                    <div class ="switch1">成就列表</div>
                    <img class="headshot" src="{% static 'img/head.gif' %}">
                </div>
                
                <div class="clear"></div>
                <div></div>
            </div>
            <div id="info_achievement" class="hidden">
                <div class="achievement">
                    <div id = "box" class="box">
                        <div class="box_inside" >
                            <img class="medal" src="{% static 'img/medal.png' %}">
                        </div>
                    </div>
                </div>
                <div class ="switch2">個人檔案</div>
                <div class="clear"></div>
                <div class="achieve">
<!--
                    <ul>
                        <li>
                            <p class="achievename">total posts : 01</p>
                        </li>
                    </ul>
-->
                    <ul>
                        <li>
                            <p class="achievename">achievement_1</p>
                            <div id="myProgress">
                              <div id="myBar" class="bar1"></div>
                            </div>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <p class="achievename">achievement_2</p>
                            <div id="myProgress">
                              <div id="myBar" class="bar2"></div>
                            </div>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <p class="achievename">achievement_3</p>
                            <div id="myProgress">
                              <div id="myBar" class="bar3"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <!--main content-->
    <div id="content" class="col-md-6">

        <!--div class="buttons"-->
            <ul>
                <li>
                    <a class="butt"><div class="buttons">熱門</div></a>
                    <a class="butt"><div class="buttons">最新</div></a>
                    <a class="butt"><div class="buttons">個人</div></a>
                    <a class="post" data-toggle="modal" href="#theModal" >Post</a>
                            <!--位置跑掉問題-->
                    <div class="buttons_search">
                        <a class = "search">
                            <img class="search_img" src="{% static 'img/search.png' %}">
                            <input class="find" type="text" placeholder="對某句話有疑惑嘛?">
                        </a>
                    </div>
                            <!--位置跑掉問題-->
                </li>
            </ul>
        <!--/div-->
        
        <div class="clear"></div>
        
        <a class="block" href="content.html">
            <div class="cont1">
                <img class="views" src="{% static 'img/about/1.jpg' %}">
                <img class="header" src="{% static 'img/about/3.jpg' %}">
                <div class="text">
                    <h3 class="title">Example</h3>
                    <small><p class="sec">Go to see content example page.</p></small>
                </div>
            </div>
        </a>
        <div class="clear"></div>
        <div class="cont2">
            <img class="views" src="{% static 'img/about/1.jpg' %}">
            <img class="header" src="{% static 'img/about/3.jpg' %}">
            <div class="text">
                <h3 class="title">Title</h3>
                <small><p class="sec">focus content</p></small>
            </div>            
        </div>
        <div class="clear"></div>
        <div class="cont1">
            <img class="views" src="{% static 'img/about/1.jpg' %}">
            <img class="header" src="{% static 'img/about/3.jpg' %}">
            <div class="text">
                <h3 class="title">Title</h3>
                <small><p class="sec">focus content</p></small>
            </div>            
        </div>
        <div class="clear"></div>
        <div class="cont2">
            <img class="views" src="{% static 'img/about/1.jpg' %}">
            <img class="header" src="{% static 'img/about/3.jpg' %}">
            <div class="text">
                <h3 class="title">Title</h3>
                <small><p class="sec">focus content</p></small>
            </div>            
        </div>
        <div class="clear"></div>
        <div class="cont1">
            <img class="views" src="{% static 'img/about/1.jpg' %}">
            <img class="header" src="{% static 'img/about/3.jpg' %}">
            <div class="text">
                <h3 class="title">Title</h3>
                <small><p class="sec">focus content</p></small>
            </div>            
        </div>
        <div class="clear"></div>
        <div class="cont2">
            <img class="views" src="{% static 'img/about/1.jpg' %}">
            <img class="header" src="{% static 'img/about/3.jpg' %}">
            <div class="text">
                <h3 class="title">Title</h3>
                <small><p class="sec">focus content</p></small>
            </div>            
        </div>
        <div class="clear"></div>
        <div class="cont1">
            <img class="views" src="{% static 'img/about/1.jpg' %}">
            <img class="header" src="{% static 'img/about/3.jpg' %}">
            <div class="text">
                <h3 class="title">Title</h3>
                <small><p class="sec">focus content</p></small>
            </div>            
        </div>
        <div class="clear"></div>
        <div class="cont2">
            <img class="views" src="{% static 'img/about/1.jpg' %}">
            <img class="header" src="{% static 'img/about/3.jpg' %}">
            <div class="text">
                <h3 class="title">Title</h3>
                <small><p class="sec">focus content</p></small>
            </div>            
        </div>
        <div class="clear"></div>
        <div class="cont1">
            <img class="views" src="{% static 'img/about/1.jpg' %}">
            <img class="header" src="{% static 'img/about/3.jpg' %}">
            <div class="text">
                <h3 class="title">Title</h3>
                <small><p class="sec">focus content</p></small>
            </div>            
        </div>
        <div class="clear"></div>
        <div class="cont2">
            <img class="views" src="{% static 'img/about/1.jpg' %}">
            <img class="header" src="{% static 'img/about/3.jpg' %}">
            <div class="text">
                <h3 class="title">Title</h3>
                <small><p class="sec">focus content</p></small>
            </div>            
        </div>
        
    </div>
    <div class = "col-md-2"></div>
    <!--div class="col-md-3 achievement">
        <div id = "box" class="box">
            <div class="box_inside" >
                <img class="medal" src="img/medal.png">
            </div>
        </div>
    </div-->
    <div class="clear"></div>

    <!-- Post -->
    <div id="theModal" class="modal fade text-center" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="">
                    <button type="button" class="close" data-dismiss="modal">X</button>
                    <input id="title" class="center" type="text" placeholder="Title" required>        
                </div>

                <div class="modal-body">

                <h3> 哪一句話最讓你捉摸不透呢 </h3>   
                    <form id="dialog">

                        <!-- one input text -->
                        <div class ="row">
                            <div class = "col-lg-2"></div>
                            <div class="radio col-lg-8 dialog">
                                <input type="radio" name="optradio" id="0">
                                <label for = "0" class="btn btn-default btn-circle btn-lg active col-lg-1"><i class="fa fa-question questionmark"  checked></i>
                                </label>
                                <div class=" col-lg-1 " style="margin-left:-1%;margin-right:3%">
                                <select>
                                      <option>&#xf183;</option>
                                      <option>&#xf182;</option>
                                   
                                </select>
                                </div>

                                           
                                <input type="text" class="form-control col-lg-8" style="width:70%;height:40px;font-size:18px; " placeholder="他說..."   name="hostemail"  >
                            </div>
                            <div class = "col-lg-2"></div>
                        </div>

                        <!-- one input text -->
                        <div class ="row">
                            <div class = "col-lg-2"></div>
                            <div class="radio col-lg-8 dialog">
                                <input type="radio" name="optradio" id="1">
                                <label for = "1" class="btn btn-default btn-circle btn-lg active col-lg-1"><i class="fa fa-question questionmark"  checked></i>
                                </label>
                                <div class=" col-lg-1 " style="margin-left:-1%;margin-right:3%">
                                <select>
                                      <option>&#xf182;</option>
                                      <option>&#xf183;</option>
                                   
                                </select>
                                </div>

                                           
                                <input type="text" class="form-control col-lg-8" style="width:70%;height:40px;font-size:18px;" placeholder="他說 ..."   name="hostemail"  >
                            </div>
                            <div class = "col-lg-2"></div>
                        </div>

                        <!-- add button -->
                        <div class ="row">
                            <div class="btn-group">
                                <a class="btn btn-link dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-plus fa-2x" style = "color:#18aa8d"></i>
                                </a>
                                <ul class="dropdown-menu ">
                                    <li>
                                        <div class="btn-group">
                                            <button type="button" id="btnAddmale"> <i class="fa fa-male questionmark"  ></i> </button>
                                            <button type="button" id="btnAddfemale"> <i class="fa fa-female questionmark"  ></i></button>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!-- send button -->
                        <div class="col-lg-7"></div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary btn-lg" style="color:white;background:#18aa8d;"> 
                            Send</button>
                        </div>
                    </form>    
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery -->
    <script src="{% static 'js/jquery/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'css/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript --><!-- button slide -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <!--script src="js/jqBootstrapValidation.js"></script-->
    <!--script src="js/contact_me.js"></script-->

    <!-- Theme JavaScript -->
    <script src="{% static 'js/agency.js' %}"></script>
    <script src="{% static 'js/Xuan.js' %}"></script>
    
    <!-- Fixed the sidebar -->
    <script src="{% static 'js/Ray.js' %}" type="text/JavaScript"></script>
    
</body>

</html>
