{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>WoWoo-發現文字的真諦</title>


    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <!-- FontAwesome Css -->
    <script src="https://use.fontawesome.com/e07011ff1d.js"></script>

    <link href="{% static 'css/Montserrat.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/Kaushan.css' %}" rel='stylesheet' type='text/css'>
    <link href="{% static 'css/agency.css' %}" rel="stylesheet">
    <link href="{% static 'css/Xuan.css' %}" rel="stylesheet">

</head>
    
<body id="page-top" class="index">
<script>
function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
            // FB.api('/me', function(response) {
            //     user_Id = response.id;
            //     user_name = response.name;
            //     $('#fbId1').val(user_Id);
            //     $('#id_field').val(user_Id);
            //     $('#profileName').html(user_name);
            //     $('#user').removeAttr('class','hidden');
            //     $('#host').removeAttr('class','hidden');
            //     $('#services').attr('class','hidden');
            //     $('#login').attr('class','hidden');
            //     $('#login1').attr('class','hidden');
               
            // });
             
            // FB.api('/me/picture?width=240&height=240', function(response) {
            //     userpicture = response.data.url;
                
            //     $('#profilephoto').attr('src',userpicture);
            //     $('#profilephoto').removeAttr('class','hidden');
            //     $.get('/getuserid/',{
            //         userId: user_Id,
            //         userName: user_name,
            //         userPicture : userpicture,
            //     }, function(data) {;}); 
            // });

    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
    
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
  
    }
  }
  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
     
      statusChangeCallback(response);
       
    });
  }
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '910500799080831',
      xfbml      : true,
      version    : 'v2.8'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
   
   function fb_login(){
    FB.login(function(response) {

        if (response.authResponse) {
            
            //console.log(response); // dump complete info
            FB.api('/me',{fields: 'name,email'},  function(response) {
                user_Id = response.id;
                user_name = response.name;
                user_email = response.email;
                $('#id_field').val(user_Id);
                $('#profileName').html(user_name);
                $('#user').removeAttr('class','hidden');
                $('#profileName1').html(user_name);
                $('#user1').removeAttr('class','hidden');
          
              
            });
             
            FB.api('/me/picture?width=240&height=240', function(response) {
                userpicture = response.data.url;
                $('#profilephoto').attr('src',userpicture);
                $('#profilephoto').removeAttr('class','hidden');
                $('#profilephoto1').attr('src',userpicture);
                $('#profilephoto1').removeAttr('class','hidden');
                $.get('/getuserid/',{
                    userId: user_Id,
                    userName: user_name,
                    userPicture : userpicture,
                    userEmail : user_email,
                }
               
                , function(data) { window.location.replace("https://sna-wowoo-wenxuanlee.c9users.io/logined");});          
            });
           
        } 
    }, {
        scope: 'public_profile,email'
    });
   
}
    var sharing = function(){
       
        var bannerImage = new Image();
        bannerImage.src = "{% static 'images/fish.png' %}";
        '{{post.post_title}}';
        var id = $('.sharebtn').attr('data-post-id');
        FB.ui({
            method: 'share',
            href:'https://sna-wowoo-wenxuanlee.c9users.io/post/'+ id,
            // href:'https://test-eva19950630.c9users.io/sentence/'+id,//test
            //href:'localhost:8000'
            title: 'Wowoo',  // The same than name in feed method
            picture: bannerImage.src,  
            caption: 'by Team Wowoo',  
            description: '一起來猜猜',
        });
    }
</script>
    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll">WoWoo</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
            <!--    <ul>-->
            <!--        <li>-->
            <!--            <a class="page-scroll"  scope="public_profile,email"  onclick="fb_login();" style="cursor:pointer" id="login">登入</a>-->
            <!--             <div id="status" class="hidden" ></div><!-- Your like button code -->
            <!--        </li>-->
            <!--        <li>-->
            <!--            <a class="ring">-->
            <!--                <div>-->
            <!--                    <img class="ring_img" src="{% static 'img/tones.png' %}">-->
            <!--                </div>-->
            <!--            </a>-->
            <!--        </li>-->
            <!--        <li>-->
            <!--            <div class="buttons_search">-->
            <!--                <a class = "search">-->
            <!--                    <img class="search_img" src="{% static 'img/search.png' %}">-->
            <!--                    <input class="find" type="text" placeholder="對某句話有疑惑嘛?">-->
            <!--                </a>-->
            <!--            </div>    -->
            <!--        </li>-->
            <!--    </ul>-->
            <!--</div>-->
            {% block profile %}
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
             <ul class="nav navbar-nav navbar-right">
  
                    <li> 
                         <a class="page-scroll"  scope="public_profile,email"  onclick="fb_login();" style="cursor:pointer" id="login">登入</a>
                        <div id="status" class="hidden" ></div>

                    </li>
					<li><img class="responsive img-circle hidden"  src="" style="width:40px;height:40px;display:inline" id = "profilephoto"></img></li>
                    <li class="dropdown hidden" id = "user">
                    <a class="" data-toggle="dropdown" href="#" id="profileName"></a>
                    
      
            
				     </li>
                </ul>
            </div>
            {% endblock profile%}
        </div>
    </nav>

    <div class="height_title"></div>

    <section style="padding-top:45px">
    <div  class="col-lg-1 col-md-1 col-sm-1" ></div>
    <div  class="col-lg-3 col-md-3 col-sm-3" >
        {% block achievement %}
        <div class="teach fixed_sidebar">
            <img class="teach" src="{% static 'img/teach.png' %}">
        </div>    
        {% endblock achievement %}
    </div>
       
    <div id = "xuan" class="col-lg-6 col-md-6 col-sm-6">
        <form id="title_dialog">
            <ul>
                <li>
                    <a id="butt1" name="butt" value="new" class="butt buttons">熱門</a>
                    <a id="butt2" name="butt" value="own" class="butt buttons">最新</a>
                    {% block personal %}
                    
                    {% endblock personal %}
                    <a class="post" data-toggle="modal" href="#theModal">我要發問</a>
                </li>
            </ul>
            <div class="clear"></div>
            <div id="content_block">
                {% csrf_token %}  
                {% for post in posts %}
                <a href="{% url 'post_detail' pk=post.pk %}" data-id="{{ post.pk }}" class="showModal">
                    <div class="col-lg-12 col-md-12 col-sm-12 content" >

                        <div class="col-lg-2 col-md-2 col-sm-2" >
                            <div class="badge">{{post.likes}}</div>
                        </div>
                    
                        <div class="col-lg-10 col-md-10 col-sm-10 " style="padding-top: 2%;">
                            <p style="color:black;font-size:24px;letter-spacing: 2px;line-height:24px;padding-top: 14px;font-weight:600;opacity: 0.8;" >{{ post.post_title }}</p>

                            <h5 style="color:#7d7d7d;letter-spacing:1px;font-size:18px;margin-bottom: 0px;margin-top: 15px;">
                            {{ post.post_question }}
                            </h5>
                            <div style="float:right;margin-right:3%">
                                <i class="fa fa-calendar" style="color:#56A690;font-size:20px" aria-hidden="true"></i>
                                <span style="font: bold 12px/12px Helvetica, Verdana, Tahoma;font-size:15px;color:#7d7d7d">{{post.post_date|date:"M d"}}</span>
                               
                            </div>
                            <div style="float:right;margin-right:3%">
             
                                <i class="fa fa-thumbs-up " style="color:#56A690;font-size:20px" aria-hidden="true"></i>&nbsp;<span style="font: bold 15px/13px Helvetica, Verdana, Tahoma;font-size:16px;color:#56A690">{{post.likes}}</span>
                        
                            </div>           
                        </div>
                    </div> 
                    <hr>
                </a>   
                {% endfor %}
            </div>
        </form>
    </div>
    <div  class="col-lg-1 col-md-1 col-sm-1" >

    </section>
    <div class="clear"></div>

    <!-- Post -->
    <div id="theModal" class="modal fade text-center" >
        <div class="modal-dialog">
            <div class="modal-content">


               
                <form action="/post/" method="POST"  role="form">
                {% csrf_token %}  
                  
                <div class="modal-header" style="">
                     <input id="title" name="post_title" class="center" type="text" placeholder="Title" required>  
                    <button type="button" class="close" data-dismiss="modal">X</button>     
                     
                </div>
                 <div class="modal-body"  id="dialog">  
                <h3> 哪一句話最讓你捉摸不透呢 </h3>   
                
                        <!-- one input text -->
                        
                        <div class ="row">
                            <div class = "col-lg-2"></div>
                            <div class="radio col-lg-8 dialog">
                                <input type="radio" name="optradio" id="0" value="0">
                                <label for = "0" class="btn btn-default btn-circle btn-lg active col-lg-1"><i class="fa fa-question questionmark"  checked></i>
                                </label>
                                <div class=" col-lg-1 " style="margin-left:-1%;margin-right:3%">
                                <select name="gender0">
                                      <option value = "male">&#xf183;</option>
                                      <option value = "female">&#xf182;</option>
                                   
                                </select>
                                </div>

                                      
                                <input type="text" class="form-control col-lg-8" style="width:70%;height:40px;font-size:18px; " placeholder="他說..."   name="content0"  >
                            </div>
                            <div class = "col-lg-2"></div>
                        </div>
                        
                        <!-- one input text -->
                        <div class ="row">
                            <div class = "col-lg-2"></div>
                            <div class="radio col-lg-8 dialog">
                                <input type="radio" name="optradio" id="1" value="1">
                                <label for = "1" class="btn btn-default btn-circle btn-lg active col-lg-1"><i class="fa fa-question questionmark"  checked></i>
                                </label>
                                <div class=" col-lg-1 " style="margin-left:-1%;margin-right:3%">
                                <select name="gender1">
                                      <option value = "male">&#xf183;</option>
                                      <option value = "female">&#xf182;</option>
                                   
                                </select>
                                </div>

                                           
                                <input type="text" class="form-control col-lg-8" style="width:70%;height:40px;font-size:18px;" placeholder="他說 ..."   name="content1"  >
                            </div>
                            <div class = "col-lg-2"></div>
                        </div>

                        <!-- add button -->
                        <div class ="row">
                            <div class="btn-group">
                                <a class="btn btn-link dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-plus fa-2x" id = "plus" style = "color:#18aa8d"></i>
                                </a>
                                <!--<ul class="dropdown-menu ">-->
                                <!--    <li>-->
                                <!--        <div class="btn-group">-->
                                <!--            <button type="button" id="btnAddmale"> <i class="fa fa-male questionmark"  ></i> </button>-->
                                <!--            <button type="button" id="btnAddfemale"> <i class="fa fa-female questionmark"  ></i></button>-->
                                <!--        </div>-->
                                <!--    </li>-->
                                <!--</ul>-->
                            </div>
                        </div>
                       
                        <!-- send button -->
                        <div class="col-lg-7"></div>
                        <div class="form-group text-center">
                            <button type="submit" id="count" name="count" value="2" class="btn btn-primary btn-lg"  style="color:white;background:#18aa8d;"> 
                            Send</button>
                        </div>
                    </div>
                </form>  
            </div>
        </div>
    </div>

    <!-- contentModal -->
    <div id="contentModal" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">X</button>
                </div>
                <div class="modal-body" data-postURL=""></div>
            </div>
        </div>
    </div>
    
    <!-- jQuery -->
    <script src="{% static 'js/jquery/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'css/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript --><!-- button slide -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <!--script src="js/jqBootstrapValidation.js"></script-->
    <!--script src="js/contact_me.js"></script-->

    <!-- Theme JavaScript -->
    <script src="{% static 'js/agency.js' %}"></script>
    <script src="{% static 'js/NewXuan.js' %}"></script>
    
    <!-- Fixed the sidebar -->
    <script src="{% static 'js/Ray.js' %}" type="text/JavaScript"></script>

    <!-- Dynamic modal-->
    <script src="{% static 'js/NewSewen.js' %}" type="text/JavaScript"></script>

</body>

</html>
