{% extends 'wowoo/index.html' %}
{% load staticfiles %}
{% block profile %}
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
         <ul class="nav navbar-nav navbar-right">
              <li>
                <div class="buttons_search">
                    <a class = "search">
                        <img class="search_img" src="{% static 'img/search.png' %}">
                        <input class="find" type="text" placeholder="對某句話有疑惑嘛?">
                    </a>
                </div>    
            </li>
            <li>
               <a class="ring" >
                  <div>
                     <img  class="ring_img" src="{% static 'img/tones.png' %}">-
                  </div>
                </a>
             </li>
            <li>


            </li>
			<li><img class="responsive img-circle "  src="{{ get.user_picture }}" style="width:40px;height:40px;display:inline;margin-top:20%" ></img></li>
            <li class="dropdown ">
            <a class="" data-toggle="dropdown" href="#" id="">{{ get.user_name }}</a>
		     </li>
        </ul>
    </div>
{% endblock profile %}

{% block achievement %}
        <div id="left" class="fixed_sidebar">
            <!--profile-->
            <div id="info_profile">
                
                <div class="frame">
                    <img class="headshot" src="{% static 'img/head.gif' %}">
                    <div class ="switch1"><font class="now_left">個人資訊</font></div>
                </div>
                
                <div class="clear"></div>
                <div></div>
            </div>
            <!--achievement-->
            <div id="info_achievement" class="hidden">
                <div class="achi">
                    <div class="achievement">
                        <div id = "box" class="box">
                            <div class="box_inside" >
                                <img class="medal" src="{% static 'img/medal.png' %}">
                            </div>
                        </div>
                    </div>
                    <div class ="switch2">成就列表</div>
                </div>
                <div class="clear"></div>
                <div class="achieve">
                    <ul>
                        <li>
                            <p class="achievename">achievement_1</p>
                            <div id="myProgress">
                              <div id="myBar" class="bar1"></div>
                            </div>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <p class="achievename">achievement_2</p>
                            <div id="myProgress">
                              <div id="myBar" class="bar2"></div>
                            </div>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <p class="achievename">achievement_3</p>
                            <div id="myProgress">
                              <div id="myBar" class="bar3"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
{% endblock achievement %}