@media screen and (min-width: 768px) {
  
  #theModal .modal-dialog  {width:700px;}

}
@media screen and (min-width: 992px) {
  
  #theModal .modal-dialog  {width:700px;}

}
#theModal .modal-dialog  {width:60%;}




input[type="radio"]:empty {
  /*display: none;*/
}



.rightMenu {
    position:relative;
    float:right;
    width:auto;
}

/*物件從右開始置放*/
.right
{
    float:right;
}

/*post title style*/
#title {
  text-align:center;
  width:60%;
  height:100%;
  font-size:36px;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
  color:black;
  font-weight:600;
}

/*modal top background and style*/
.modal-header {
  text-align:center;
  height: auto;
  width: 100%;
  font-size: 18px;
  background: #18aa8d;
  color: white;
  line-height: 150%;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
}

/*whole input style including input radio & text*/
.dialog {
  height:50px;
  background-color:#18aa8d;
  border-radius: 60px;
  padding:5px 5px 5px 5px;
}

/*input radio icon questonmark*/
.questionmark {
  font-size:26px;
  margin-left: 3px; 
}

/*input select male & female*/
.genderwrapper {
  margin:0px 5px 0px 5px;
  padding:5px ;
  background-color:#18aa8d;
  color:white;
  height:40px;
}

/*select circle*/
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 60px;;
  background-color: #7CEECE;
}
/*select circle big size*/
.btn-circle.btn-lg {
  width: 40px;
  height: 40px;
  padding: 8px 8px;
  font-size: 18px;
  line-height: 1.33;
  
}

/*input style*/
input[type=radio]:empty ~ label {
  background:white;

}

/*input style after hover*/
input[type=radio]:hover ~ label {
  background:#Bbbbbb;
}

/*input style after checked*/
input[type=radio]:checked ~ label {
  border: 3px solid white;
  background:#15aa8b;
  color:white;
}

/*select style*/
select {
  font-family: 'FontAwesome', 'Second Font name';
  background-color:#18aa8d;
  color:white;
  cursor: pointer;
  font-size:30px;
  height:40px;
  border:none;
  text-align:center;
  margin-right:5%;
    appearance:none;
-moz-appearance:none;
-webkit-appearance:none;
 display:table-row;

}


