@media screen and (min-width: 768px) {
  
  #theModal .modal-dialog  {width:700px;}

}
@media screen and (min-width: 992px) {
  
  #theModal .modal-dialog  {width:700px;}

}
#theModal .modal-dialog  {width:60%;}




input[type="radio"]:empty {
  /*display: none;*/
}



.rightMenu {
    position:relative;
    float:right;
    width:auto;
}

/*物件從右開始置放*/
.right
{
    float:right;
}

/*post title style*/
#title {
  text-align:center;
  width:60%;
  height:100%;
  font-size:36px;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
  color:black;
  font-weight:600;
}

/*modal top background and style*/
.modal-header {
  text-align:center;
  height: auto;
  width: 100%;
  font-size: 18px;
  background: #18aa8d;
  color: white;
  line-height: 150%;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
}

/*whole input style including input radio & text*/
.dialog {
  height:50px;
  background-color:#18aa8d;
  border-radius: 60px;
  padding:5px 5px 5px 5px;
}

/*input radio icon questonmark*/
.questionmark {
  font-size:26px;
  margin-left: 3px; 
  text-align : center;

}

/*input select male & female*/
.genderwrapper {
  margin:0px 5px 0px 5px;
  padding:5px ;
  background-color:#18aa8d;
  color:white;
  height:40px;
}

/*select circle*/
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 60px;;
  background-color: #7CEECE;
}
/*select circle big size*/
.btn-circle.btn-lg {
  width: 40px;
  height: 40px;
  padding:3px  9px;
  font-size: 18px;
  text-align : center;
  
}

/*input style*/
input[type=radio]:empty ~ label {
  background:white;
    padding:3px  9px;
  font-size: 18px;
  text-align : center;
  
}

/*input style after hover*/
input[type=radio]:hover ~ label {
  background:#Bbbbbb;

}

/*input style after checked*/
input[type=radio]:checked ~ label {
  border: 3px solid white;
  background:#15aa8b;
  color:white;
    padding:3px  9px;
  font-size: 18px;
  text-align : center;
  
}

/*select style*/
select {
  font-family: 'FontAwesome', 'Second Font name';
  background-color:#18aa8d;
  color:white;
  cursor: pointer;
  font-size:30px;
  height:40px;
  border:none;
  text-align:center;
  text-shadow:1px 1px 1px black;
  margin-right:5%;
    appearance:none;
-moz-appearance:none;
-webkit-appearance:none;
 display:table-row;

}

.change {
  cursor:pointer;
  font-size:30px;
  color:white;
}

.badge {
    margin-top:15%;
    background-color: #56a690;
    border: 2px solid #56a690;
    border-radius: 50%; /* one half of ( (border * 2) + height + padding ) */
    box-shadow: 1px 1px 1px white;
    color: white;
    font: bold 15px/13px Helvetica, Verdana, Tahoma;
    font-size:16px;
    height: 75px; 
    min-width: 75px;
    padding: 30px 3px 0 3px;
    text-align: center;
}

.content {
  cursor: pointer;
  height:125px;
}

.content:hover{
    background-color: #38caad;
    color: #FFFFFF;

}
#xuan {
  background-color: white;
  width:50%; 
  padding:20px 20px;
  border-radius: 2%;
}
.btn-xuan {
  font-size:16px;
  color: white;
  background-color:#5fac9a;
  border-color: #18aa8d;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border: 1px solid transparent;
  border-radius: 4px;
}

h2.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
}

#chat {
  margin-bottom:5%;
}
.chat {
  margin: 0 auto;
  padding-left:5%;
  padding-right:5%;
  
}
.chat div {
  margin-top:2%;
}
.chat p {
  font-size:20px;
  margin-left:1%;
  margin-right:1%;
  border-radius: 1em;
  padding: 0.5em 1em;
  background: #e5e5ea;
  max-width: 75%;
  
  position: relative;

}
i.me {
   float:right;
}
i.them {
  float:left;
}
.chatman {
 
  font-size:40px;
  color:#6666ff;
}
.chatwoman {
  
  font-size:40px;
  color:#ff4c4c;
}
p.them {
  float: left;
}

p.me {
  float: right;
}
p.focus{
  background-color: #FFA500;
  color: white;
}
img.emotion{
    position: relative;
    width:40px;height:40px;
    float: right;
    display: inline;
    margin-top:-30%;
    margin-right:5%;
    border:1px solid white;
}
img.smallemotion{
    position: relative;
    width:40px;height:40px;
    float: right;
    display: inline;
    margin-top:-30%;
    margin-right:5%;
    border:1px solid white;
}
#commentemotion label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
#commentemotion label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
#commentemotion label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid #f00;
  border-radius:50%;
}
#commentemotion img {
   width:60px;height:60px;
   border:1px solid white;
   position: relative;
}